#header, #footer {
    background-color: #666;
    font: Segoe UI;
    width: 100%;
    height: 100%;
}

body {
    background-image: url("R7.png");
    font: Segoe UI;
    font-style: italic;
    font-size: 20px;
    width: 100%;
    height: 100%;
    padding: 12px 12px 12px 12px; 
    background-color: mintcream;
}

.contenedor{
    background-color: navajowhite;
    height: 100%;
    width: 800px;
    margin-right: auto;
    margin-left: auto;
    border: 5px solid #CCC;
    opacity: 0.85;
    padding: 12px 12px 12px 12px;
}

div{
    margin: .4em 0;
    width: 95%;
    color: dodgerblue;
    background-color: whitesmoke;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

fieldset, option, input, optgroup, select{
    color: dodgerblue;
    background-color: whitesmoke;
}

label{
    color: green;
    font-style: oblique;
    background-color: whitesmoke;
}

p{
    text-align: left;
    text-decoration: none;
    color: dodgerblue;
    background-color: whitesmoke;
}

h1{
    text-align: center;
}

.banner {
    color:#fff;
	background:#2c2c2c;
    border: 1px solid black;
}

#servicios{
    font-size: 18px;
    width: 100%;
    height: 400px;
    background-color: dodgerblue;
    border: 1px solid black;
    padding: 2px 2px 2px 2px; 
}
.publicidad {
    clear: both;
	background:#2c2c2c;
	color:#fff;
	padding:50px 50px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    border: 1px solid black;
}
